body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5rem;
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
#overlay-nav {
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 0%;
  transition: 0.5s;
  height: 100%;
  background-color: rgba(0, 0, 0); /* Black w/opacity */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  right: 2%;
  padding: 1rem;
  font-weight: 300;
  font-size: 3.5rem;
}

.openbtn {
  position: fixed;
  right: 2%;
  padding: 1rem;
  font-weight: 100;
  cursor: pointer;
  color: #fff;
  top: 2%;
  font-size: 2rem;
}

.nav-content {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center; /* Centered text/links */
  transform: translate(0, -50%);
}

.overlay a {
  text-decoration: none;
  color: #d9ff51;
  display: block;
  transition: 0.3s;
  padding-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}
/* Nav Strike through Start*/
.line span {
  position: relative;
}
.line span::after,
.line span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5%;
  top: 50%;
}
.line span::before {
  left: -10%;
}

.line span::after {
  right: -10%;
  background: red;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.line:hover span:before {
  background: green;
  width: 120%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.line:hover span:after {
  background: transparent;
  width: 120%;
  transition: 0s;
}

/*Nav Strike through End*/
#home,
#portfolio {
  width: 100vw;
  height: 100vh;
}

#home {
  background-color: aqua;
}
.userdetails{
  display: block;
}
.profilePicture {
  background-image: url(https://github.com/akmalviya03/z1x2c3v4t5y6u7/blob/master/image.jpg);
  height:10rem;
  width: 10rem;
  background-repeat: no-repeat;
  background-position: 55% 15%;
  border-radius: 40rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.userName{
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
  transform: translate(-50%,-50%);
  color: #fff;
}
.job{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}

.links{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  text-decoration: none;
  font-size: 1rem;
  
}
.github{
  margin-right: 2rem;
}
.github, .linkedin{
  color: #000;
}
#portfolio {
  background-color: rgb(192, 231, 140);
}

